/* Tooltip container */
.showTextOnOver {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.showTextOnOver .showTextOnOverValue {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.showTextOnOver .showTextOnOverValue::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.showTextOnOver:hover .showTextOnOverValue {
    visibility: visible;
    opacity: 1;
}

.table td, .table th {
    padding: 1.5em 1.5em;
    vertical-align: top;
    border: 5px solid #ffffff !important;
    background-color: #b0afaf;
}

.table {
    margin-left: auto;
    margin-right: auto;
    background-color: #ECF0F3;
}