<div class="table-container" id="inventoryBotExchange" th:fragment="inventoryExchange" xmlns:th="http://www.thymeleaf.org">
    <table class="table is-bordered is-striped">
        <tbody>
        <tr>
            <td id="slotExchange0" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange1" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange2" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange3" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange4" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange5" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange6" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange7" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange8" class="itemExchange"><span class="itemImg"></span></td>
        </tr>
        <tr>
            <td id="slotExchange9" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange10" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange11" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange12" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange13" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange14" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange15" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange16" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange17" class="itemExchange"><span class="itemImg"></span></td>
        </tr>
        <tr>
            <td id="slotExchange18" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange19" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange20" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange21" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange22" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange23" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange24" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange25" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange26" class="itemExchange"><span class="itemImg"></span></td>
        </tr>
        <tr>
            <td id="slotExchange27" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange28" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange29" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange30" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange31" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange32" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange33" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange34" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange35" class="itemExchange"><span class="itemImg"></span></td>
        </tr>
        <tr>
            <td id="slotExchange36" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange37" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange38" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange39" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange40" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange41" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange42" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange43" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange44" class="itemExchange"><span class="itemImg"></span></td>
            <td id="slotExchange45" class="itemExchange"><span class="itemImg"></span></td>
        </tr>
        </tbody>
    </table>
</div>