<aside class="menu is-hidden-mobile" th:fragment="navAside" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/newBot.css}">
    <p class="menu-label">
        Manager
    </p>
    <ul class="menu-list">
        <li>
            <a>Dashboard</a>
            <ul>
                <li><a>UnSuperPseudo</a></li>
                <li><a>Ronflonflon</a></li>
                <li><a>FabMaster</a></li>
                <li><a>WouhouVou</a></li>
                <li><a></a></li>
            </ul>
        </li>
    </ul>


    <button id="connectBotModal" class="button is-primary modal-button" data-target="#myModal" aria-haspopup="true">New bot
    </button>
    <button id="modalDisconnectButton" class="button is-danger modal-button" onclick="disconnectBot(0)"
            data-target="#myModal" aria-haspopup="true">Disconnect</button>

    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Connect a new bot</p>
                <button class="delete closeNewBot" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h1>Nickname</h1>
                    <label>
                        <input id="botNickname" class="input is-rounded" required=required
                               type="text" placeholder="ex: xXROXORXx">
                    </label>
                    <h1>Password</h1>
                    <p>If you want to connect an offline account don't enter a password</p>
                    <label>
                        <input id="botPassword" class="input is-rounded" type="text" placeholder="ex: PlsDontHackMyAccount">
                    </label>

                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="connectBot()">Connect</button>
                <button class="button closeNewBot">Cancel</button>
            </footer>

        </div>
    </div>
    <script th:src="@{/js/newBot.js}"></script>
    <script th:src="@{/js/botManager.js}"></script>
</aside>