<aside class="menu is-hidden-mobile" th:fragment="navAside" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/newBot.css}">
    <p class="menu-label">
        Manager
    </p>
    <ul class="menu-list">
        <li>
            <a href="/">Dashboard</a>
            <ul id="accountsRobot">
                <li id="connectBotModal"><a><i class="fas fa-plus-circle"></i> New bot</a></li>
            </ul>
        </li>
    </ul>

    <button id="disconnectAllBotsButton" class="button is-danger modal-button" onclick="disconnectBot('*')"
            data-target="#modalNewBot" aria-haspopup="true"><i class="fas fa-power-off"></i>&nbsp;STOP ALL</button>


    <div class="modal" id="modalNewBot">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Connect a new bot</p>
                <button class="delete closeNewBot" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h1>Server adress</h1>
                    <label>
                        <input id="serverAdress" class="input is-rounded" required=required
                               type="text" placeholder="ex: localhost:25565">
                    </label>
                    <h1>Username</h1>
                    <label>
                        <input id="botNickname" class="input is-rounded" required=required
                               type="text" placeholder="ex: xXROXORXx">
                    </label>
                    <h1>Password</h1>
                    <p>If you want to connect an offline account don't enter a password</p>
                    <label>
                        <input id="botPassword" class="input is-rounded" type="password" placeholder="ex: PlsDontHackMyAccount">
                    </label>

                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="connectBot()">Connect</button>
                <button class="button closeNewBot">Cancel</button>
            </footer>

        </div>
    </div>
</aside>