<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="container" id="app">
    <button id="modalButton" class="button is-primary modal-button" data-target="#myModal" aria-haspopup="true">Launch example modal</button>

    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Connect a new bot</p>
                <button class="delete closeNewBot" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h1>Nickname</h1>
                    <label>
                        <input class="input is-rounded" type="text" placeholder="ex: Ronflonflon">
                    </label>
                    <h1>Password</h1>
                    <p>If you want to connect an offline account don't type a password</p>
                    <label>
                        <input class="input is-rounded" type="text" placeholder="ex: PlsDontHackMyAccount">
                    </label>

                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Connect</button>
                <button class="button closeNewBot">Cancel</button>
            </footer>
        </div>
    </div>
</div>
<script>
    $("button").click(function () {
        $("#myModal").addClass("is-active");
    });

    $(".modal-background").click(function () {
        $('#myModal').removeClass("is-active");
    });

    $(".closeNewBot").click(function () {
        $('#myModal').removeClass("is-active");
    });


</script>
</body>
</html>
